.status {
    border-radius: 4px;
    position: relative;
    width: 80px;
    height: 29px;
}

.status_active {
    color: #00B087;
    background-color: rgba(22, 192, 152, 0.38);
    border: 1px solid #00B087;
}

.status_active::before {
    content: "Active";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.status_inactive {
    color: #DF0404;
    background-color: #FFC5C5;
    border: 1px solid #DF0404;
}

.status_inactive::before {
    content: "Inactive";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}