@font-face {
    font-family: 'Helvetica';
    src: url('fonts/HelveticaNeueCyr-Roman.eot');
    src: local('fonts/HelveticaNeueCyr-Roman'),
        url('fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
        url('fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'),
        url('fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --Roboto: 'Roboto', sans-serif;
    --Merriweather: 'Merriweather', serif;
    --Montserat: 'Montserrat', sans-serif;
    --Helvetica: 'Helvetica', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*animations*/



/*preload*/

/*https://itchief.ru/javascript/how-to-make-preloader-for-site*/
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 1001;
}
  
.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}
  
.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #000;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}
  
.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}
  
@keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
}
  
.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}
  
.loaded .preloader {
    display: none;
}

/*header*/
header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*navigation*/
.nav-bar {
    display: flex;
    justify-content: center;
}

.nav-bar_part1 {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.nav-bar_part2 {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.nav-bar_item {
    margin: 0 40px 0 0;/*Not good BEM, i know*/
    text-align: right;
}

.nav-bar_part2 .nav-bar_item {
    margin: 0 0 0 40px;/*Not good BEM, i know*/
    text-align: left;
}

.nav-bar_link {
    display: inline-block;
    text-decoration: none;
    font-family: var(--Roboto);
    font-size: 13pt;
    color: #979797;
    transition: all .4s;
    position: relative;
}

.nav-bar_link::after{
    content: '';
    border-bottom: 2px solid rgba(0, 0, 0, .0);
    position: absolute;
    bottom: -15px;
    width: 100%;
    left: 1px;
    z-index: -1;
    transition: all .4s ease-out;
}

.nav-bar_link:hover::after {
    bottom: -2px;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.nav-bar_link:hover{
    color: #121212;
}

.nav-bar_link__active{
    color:  #121212;
}

.logo {
    width: 55px;
    height: 55px;
    margin: 0 20px;/*Not good BEM, i know*/
    background-image: url(images/Logo.png);
    background-repeat: no-repeat;
    flex-shrink: 0;
}
/*end of the navigation*/

/*Repeating in future*/
.main-information {

}

.main-information_main-text {
    font-family: Helvetica, serif;
    font-weight: 300;
    text-align: center;
}

.main-information_sub-text {
    font-family: var(--Merriweather);
    font-style: italic;
    font-weight: 300;
    text-align: center;
    color: #888888;
}
/*it will!*/

.header_main-information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-information_main-text__in-header {
    font-size: 40pt;
}
.main-information_sub-text__in-header {
    font-size: 16pt;
}

.header_button {
    text-decoration: none;
    font-family: var(--Montserat);
    color: #000;
    border: 1px solid #000;
    padding: 25px 40px;
    font-size: 13pt;
    margin-top: 30px;
    background-image: linear-gradient(-30deg,transparent,transparent 50%,#000 50%, #222222);
    background-position: 100% 0;
    background-size: 300% 100%;
    transition: all .6s ease-out;
}

.header_button:hover {
    background-position: 0 0;
    color:#fff;
}

.reference-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.reference-down_dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-top: 5px;
    transition: all .4s ease-out;
}

#reference-down_dot__1 {
    background-color: #f0f0f0;
}

#reference-down_dot__2 {
    background-color: #e0e0e0;
}

#reference-down_dot__3 {
    background-color: #d0d0d0;
}
/**/

/**/
.about-us {
    padding-bottom: 250px;
    background-color: #1d1d1d;
    background-image: url(images/about_us_bg.png), url(images/about_us_line.png);
    background-repeat: repeat-x, repeat-y;
    background-size: auto 195px, contain;
    background-position: 49.8% 100%, 50% 50%;
    display: flex;
    flex-direction: column;
}

.about-us_item {
    display: flex;
    position: relative;
}

.about-us_item__left {
    justify-content: flex-start;
    text-align: right;
}

.about-us_item__right {
    justify-content: flex-end;
    text-align: left;
}

.about-us_info {
    max-width: 47%;
    padding: 0 30px;
    margin-top: calc(30vh + 20px);
}

.about-us_item__left .about-us_info::after ,
.about-us_item__right .about-us_info::after{ /*decor cicles*/
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid white;
    background-color: #1d1d1d;
    top: calc(30vh + 30px);
    transition: all .7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.about-us_item__left .about-us_info:hover::after ,
.about-us_item__right .about-us_info:hover::after {
    transform: scale(2); /*animation hover*/
}

.about-us_item__left .about-us_info::after {
    right: calc(50% - 21px);
}

.about-us_item__right .about-us_info::after {
    right: calc(50% - 21px);
}

.about-us_header {
    color: #fefefe;
    font-family: var(--Helvetica);
    font-size: 48pt;
}

.about-us_paragraph {
    color: #b7b7b7;
    font-family: var(--Montserat);
    font-size: 15pt;
}
/**/

/**/
.team {
    padding-top: 100px;
    padding-bottom: 100px;
}

.main-information_main-text__in-team {
    font-size: 34pt;
}

.main-information_sub-text__in-team {
    font-size: 16pt;
}

.team_people {
    min-height: 500px;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.team_person {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 170px;
}

.team_person:nth-of-type(2) {
    align-self: flex-end;
}

.team_person-info {
    font-family: var(--Helvetica);
}

.team_person-info h2 {
    color: #464646;
    font-size: 20pt;
    font-weight: 300;
    margin-top: 10px;
}

.team_person-info h3 {
    color: #b3b3b3;
    font-weight: 100;
    font-size: 8pt;
    margin-bottom: 10px;
}
/*team links*/

.team_person-links {
    position: relative;
}

.team_person-links__normal {

}

.team_person-links__hover {
    position: absolute;
    top: 0;
    z-index: -1;
}

.team_person-links__normal img {
    transition: 3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.team_person-links__normal img:hover{
    opacity: 0;
}

/**/
/**/

.services {
    background-color: #181818;
    background-image: url(images/services_bg.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 700px auto;
}

.services_triangle {
    height: 20vh;
    width: 100%;
}

.services_triangle svg {
    height: 20vh;
    width: 100%;
}

.services_triangle__second {
}

.main-information_main-text__in-services {
    color: #fff;
    font-size: 22pt;
    margin-top: 40px;
}

.main-information_sub-text__in-services {
    font-size: 12pt;
}

.services_items {
    display: flex;
    justify-content: space-between;
    margin-top: 215px;
}

.services_item {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services_image {
    display: flex;
    justify-content: center;
}

.services_header {
    color: #fff;
    font-family: var(--Helvetica);
    font-weight: 100;
    font-size: 20pt;
    margin-top: 30px;
    text-align: center;
}

.services_subheader {
    color: #383838;
    font-family: var(--Helvetica);
    text-align: center;
    margin-top: 22px;
    font-size: 12pt;
}

.services_link-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 800px;
    margin-bottom: 100px;
}

.services_blog-link {
    text-decoration: none;
    display: inline-block;
    color: #181818;
    background-color: #fff;
    padding: 20px 50px;
    font-family: var(--Helvetica);
    font-weight: bold;
    font-size: 10pt;
    position: relative;
}

.services_blog-link span {
    position: absolute;
    background-color: #181818;
    transition: .7s ease-out;
}

.services_blog-link span:nth-last-of-type(1) {
    left: 0;
    width: 0;
    top: 5px;
    border-top: 1px solid #181818;
}

.services_blog-link:hover span:nth-last-of-type(1),
.services_blog-link:hover span:nth-last-of-type(3){
    width: 100%;
}

.services_blog-link:hover span:nth-last-of-type(2),
.services_blog-link:hover span:nth-last-of-type(4){
    height: 100%;
}

.services_blog-link span:nth-last-of-type(2) {
    height: 0;
    right: 5px;
    top: 0;
    border-right: 1px solid #181818;
}

.services_blog-link span:nth-last-of-type(3) {
    right: 0;
    width: 0;
    bottom: 5px;
    border-bottom: 1px solid #181818;
}

.services_blog-link span:nth-last-of-type(4) {
    bottom: 0;
    height: 0;
    left: 5px;
    border-left: 1px solid #181818;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-bottom: 100px;
}

.main-information_main-text__in-contact-form {
    margin-top: 60px;
}

.contact-form_info {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 50px;
}

.contact-form_info-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 20px;
    width: 100px;
}

.contact-form_info-item img{
    object-fit: contain;
    object-position: center;
}

.contact-form_info-item h6 {
    font-family: var(--Helvetica);
    font-weight: 300;
    color: #a8a8a8;
    text-align: center;
    margin-top: 10px;
}

.contact-form_inputs {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.contact-form_input {
    margin-top: 20px;
    padding: 10px;
    resize: vertical;
    text-align: center;
    font-family: var(--Helvetica);
    font-size: 11pt;
    color: #161616;
    border: 1px solid rgba(168, 168, 168, 1);
    transition: all .7s;
}

.contact-form_input::placeholder {
    color: rgba(168, 168, 168, 1);
    transition: all .7s;
}

.contact-form_input:focus::placeholder {
    color: rgba(0, 0, 0, .0);
}

.contact-form_input:focus {
    border: 1px solid rgba(0, 0, 0, 1);
    outline: none;
}

.contact-form_input[type^='submit'] {
    background-color: #161616;
    color: #fff;
    border: none;
    width: 100%;
    margin-top: 0;
    transition: .8s ease-out .2s;
}

.input_wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.input_wrapper__part {
    flex-grow: 1;
    height: 36px;
    background-image: url(images/arrow.png);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.input_wrapper:hover input {
    width: calc(100% - 40px);
}
/**/

footer {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

footer p {
    text-align: center;
    font-family: var(--Helvetica);
}

textarea {
    min-height: 90px;
}
