/* burger menu*/
.burger-menu {
    width: 0;
    overflow: hidden;
    height: 0;
    display: none;
    background-color: rgba(255, 255, 255, .0);
    transition: all .5s .5s;
}

._burgerMenuOpenned .burger-menu{
    background-color: rgba(255, 255, 255, .7);
    transition: all .5s .5s;
    width: 100vw;
    height: 100vh;
}

._burgerMenuOpenned .burger-menu__content {
    color: rgba(0, 0, 0, 1);
    visibility: visible;
    transition: color .5s 1s, visibility 0s 0s;
}

._burgerMenuOpenned .burger-menu__strip_1 {
    transform: rotateZ(52deg);
    transform-origin: 0 50%;
    background-color: rgba(0, 0, 0, 1);
    transition: all .5s .5s;
}

._burgerMenuOpenned .burger-menu__strip_3 {
    transform: rotateZ(-52deg);
    transform-origin: 0 50%;
    background-color: rgba(0, 0, 0, 1);
    transition: all .5s .5s;
}

._burgerMenuOpenned .burger-menu__strip_2 {
    transform: translateX(10px);
    background-color: rgba(255, 255, 255, .0);
    transition: all .5s;
    transition-delay: 0;
}

.burger-menu__strips {
    position: absolute;
    z-index: 5;
    cursor: pointer;
    right: 25px;
    top: 27px;
    display: flex;
    flex-direction: column;
}

.burger-menu__strip_1 {
    transform-origin: 0 50%;
    transform: rotateZ(0deg);
    transition: all .5s;
    transition-delay: 0s;
}

.burger-menu__strip_2 {
    transition: all .5s .5s;
}

.burger-menu__strip_3 {
    transform-origin: 0 50%;
    transform: rotateZ(0deg);
    transition: all .5s;
    transition-delay: 0s;
}

.burger-menu__strip {
    width: 15px;
    height: 2px;
    margin: 2px 0;
    background-color: #fff;
}

.burger-menu__content {
    list-style-type: none;
    visibility: hidden;
    position: absolute;
    transform: translate(50%, 50%);
    bottom: 50%;
    right: 50%;
    z-index: 10;
    transition: color .6s, visibility .5s .5s;
    transition-delay: 0s;
    color: rgba(0, 0, 0, .0);
}

@media (max-width:580px) {
    .burger-menu {
        display: block;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0; 
        width: 20vw;
        height: 10vh;
        z-index: 5;
    }
    .menu {
        display: none;
    }
}

/*bg animations*/
.main-header__text, .learn .learn__menu-block {
    transition: all .5s .8s;
}

._burgerMenuOpenned .main-header__text {
    color: rgba(255, 255, 255, 0);
    transition-delay: 0s;
}

.learn._burgerMenuOpenned .learn__menu-block {
    color: rgba(255, 255, 255, 0);
    transition-delay: 0s;
}